<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="facebook-domain-verification"
      content="uc1pb4j8ws1uu02romuapv63ohvxi5"
    />
    <link rel="stylesheet" href="./../../css/style.css" />
    <title>Document</title>
  </head>
  <body>
    Hello
  </body>
</html>