<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="facebook-domain-verification"
      content="uc1pb4j8ws1uu02romuapv63ohvxi5"
    />
    <title>Young Hustle Competition</title>

    <script
      type="text/javascript"
      src="https://platform-api.sharethis.com/js/sharethis.js#property=60292bb6f8ce400012e81636&product=inline-share-buttons"
      async="async"
    ></script>

    <link rel="stylesheet" href="./../css/style.css" />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>

    <script src="./../js/main.js"></script>

    <script src="./../js/categoryApps.js"></script>

    <script src="./../js/comp.js"></script>
    <link rel="stylesheet" href="./../css/categoriesDisplay.css" />
    <link
      rel="shortcut icon"
      href="./../images/networking-100.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="./../comp/comp.css" />
    <style>
      body{ background-color: white; } .body{ background-color: white; padding:
      0%; margin: 0px; color: rgb(70, 70, 73); } .contDisc{ display: flex;
      overflow-y: auto; } @media(max-width: 770px){ .contDisc{ display: block;
      overflow-y: auto; } } .header-ad { background-color: grey; /* Orangered */
      color: #fff; padding: 20px; text-align: center; } .header-ad h2 {
      margin-top: 0; font-size: 28px; } .header-ad p { font-size: 18px; } /*
      Media query for mobile responsiveness */ @media (max-width: 768px) {
      .header-ad { background-color: grey; /* Blue */ } }

    </style>
  </head>
  <body>

    <header class="headerContainer">
      <div class="container1">
        <div class="icon">

          <img
            src="./../images/FizzBizNet.png"
            alt=""
            srcset=""
            width="100px"
            height="80px"
          />
        </div>
        <div class="appbar">

          <div class="appname"><h1 class="bizTitle">FIZZBIZNET</h1></div>
        </div>

        <div class="menu">
          <img
            src="./../images/icons8-menu (1).svg"
            class="menuIconCat"
            style="width: 60px;"
          />

        </div>
        <div class="profileIcon" style="order: 3; padding: 2%;">
          <img
            src="./../images/user.svg"
            class="menuIcon"
            style="width: 40px;"
          />
        </div>
      </div>

      <div class="menuList">
        <div class="menu">
          <img
            src="./../images/icons8-menu (1).svg"
            class="menuIcon"
            style="width: 60px;"
          />

        </div>

      </div>

    </header>
    <div class="slideExplorenav">

      <div class="sliden">
        <div class="slidemenu">
          <img
            src="./../images/icons8-menu (1).svg"
            class="menuIconCaton"
            style="width: 60px;"
          />

        </div>

        <div class="slidenHead">
          <h2>FizzBizNet</h2>
        </div>

      </div>

      <a href="/suscription/page" id="addService"><img
          src="./../images/add.svg"
          alt=""
          srcset=""
          width="40px"
          style=""
        />
        <h4>New Service</h4></a>
      {{#if loggedUser.username}}
        <a href="/profile/{{{loggedUser.username}}}">
          <img
            class="iconsI"
            src="./../images/customer.svg"
            alt=""
            srcset=""
            width="40px"
            style=""
          />
          <h4>My Page</h4></a>
        <a
          href="https://bookings.fizzbiznetwork.com?username={{{loggedUser.username}}}"
        >
          <img
            class="iconsI"
            src="./../images/schedule.png"
            alt=""
            srcset=""
            width="40px"
            style=""
          />
          <h4>Calender&Schedule</h4></a>
        <a href="/competition/all">
          <img
            class="iconsI"
            src="./../images/mission.png"
            alt=""
            srcset=""
            width="40px"
            style=""
          />
          <h4>Competitions&Events</h4></a>

      {{else}}

        <a href="/apps/all">
          <img
            class="iconsI"
            src="./../images/customer.svg"
            alt=""
            srcset=""
            width="40px"
            style=""
          />
          <h4>My Page</h4></a>
      {{/if}}

      <a href="/apps/all">
        <img
          class="iconsI"
          src="./../images/home.svg"
          alt=""
          srcset=""
          width="40px"
          style=""
        />
        <h4>Home</h4></a>
      <a href="./../logout" class="menuitem"><img
          src="./../images/log-out.svg"
          alt=""
          srcset=""
          width="40px"
          style=""
        />
        <h4>SignOut </h4></a>

      <a id="share" onclick="openShare()">
        <img
          class="iconsI"
          src="./../images/share (1).svg"
          alt=""
          srcset=""
          width="40px"
          style=""
        />
        <h4>Share</h4></a>
    </div>
    <div class="body">

      <div class="header-ad">
        <h2>Create Your Business FizzBiz App Now!</h2>
        <p>Upgrade to a Premium Plan Subscription and Get a
          <h3><b>3-Month Trial</b></h3>. Join the BizBoost Challenge for a
          Chance to Gain Financial Capital!
        </p>
        <p>
          Here is the GUIDE on step by step way to create the app
          <a
            href="https://drive.google.com/file/d/1K67QZESq6k0dCXAqRIPeKj4wXwNQEWLA/view?usp=sharing"
            target="_blank"
            style="background-color: green; color:white; font-weight:bold; border-radius:5px; padding:2px;"
          >
            Click here for HELP document.
          </a>
        </p>
        <p>If your still facing challenges on creating your first Kindly send an
          email to
          <a
            style="background-color: orangered; color:white; font-weight:bold; border-radius:5px; padding:2px;"
            href="mailto:support@fizzbiznetwork.com"
          >support@fizzbiznetwork.com</a>
          or contact us on Phone :
          <span
            style="background-color: purple; color:white; font-weight:bold; border-radius:5px; padding:2px;"
          > <b>+254712190533</b></span>
        </p>
      </div>

      <div class="searchDiv">
        <h3>Suscription</h3>
        <p>
          Choose your desired plan to get access to our content easily.
        </p>
      </div>
      <div class="contDisc" style="height:90vh; overflow:auto">

        <div
          class="susDiv"
          style=" background-color: rgb(6, 189, 189); color: white; font-weight:bold; height:fit-content"
        >
          <h4 style="border-bottom:1px solid white;padding: 2%;">Basic</h4>
          <p
            style="font-size:xx-large; font-weight: bold; margin: 2%;padding: 2%;"
          >
            FREE
          </p>
          <p style="font-size: smaller; ">
            /monthly
          </p>
          <p>
            Static Page<br /><br />
            Has reviews
            <br /><br />
            Calender scheduler
            <br /><br />
            Gain followers and Likes
            <br /><br />
          </p>
          <button class="susButton" onclick="handleBasic()">Go Basic</button>
        </div>
        <div
          class="susDiv"
          style=" background-color: rgb(136, 135, 135); color: white; font-weight:bold; height:fit-content "
        >
          <h4 style="border-bottom:1px solid white;padding: 2%;">Prenium</h4>
          <p
            style="font-size: xx-large; font-weight: bold; margin: 2%;padding: 2%;"
          >
            Ksh. 499
          </p>
          <p style="font-size: smaller; ">
            /monthly
          </p>
          <p>
            Dynamic Page<br /><br />
            Access to Financial Aids programs
            <br /><br />
            Calender scheduler
            <br /><br />
            Gain followers and Likes
            <br /><br />
            Business, order and Mail managent
          </p>

          <button
            class="susButton"
            style="top: 10%"
            onclick="handlePrenium()"
          >Go Premium</button>
        </div>
        <div
          class="susDiv"
          style=" background-color: goldenrod; color: white; font-weight:bold; height:fit-content"
        >
          <h4 style="border-bottom:1px solid white;padding: 2%;">Gold</h4>
          <p
            style="font-size: xx-large; font-weight: bold; margin: 2%;padding: 2%;"
          >
            Ksh. 999
          </p>
          <p style="font-size: smaller; ">
            /monthly
          </p>
          <p>

            All premium features
            <br /><br />
            Access to the Business Admin Dashboard
            <br /><br />
            Access to analytics insights and Feedback on the products/services
            <br /><br />
            Multiple business management users
            <br /><br />
            Free Adverts

          </p>
          <button
            id="gold"
            class="susButton"
            style="position: relative; top :2%"
            onclick="handleSus()"
          >Go Gold</button>
        </div>

      </div>
    </div>
    <script>

    </script>
  </body>
</html>