<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="facebook-domain-verification"
      content="uc1pb4j8ws1uu02romuapv63ohvxi5"
    />
    <title>{{{title}}}</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>